body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .headerrow{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 3px 3px 3px 3px;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 3px 0px 0px 0px;
  }
  
  .navigationlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: rgb(53, 53, 53);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 3px 0px 3px 0px;
  }
  
  .navigationelement{
    float: left;
    text-align: center;
  }
  
  .navigationlink{
    padding: 10px 10px 10px 100px;
    margin: 0;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 0px 1px;
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .navigationelement:hover{
    background-color: rgb(46, 46, 46);
  }
  
  .divider{
    font-size: 5px;
    width: 100%;
    background-color: rgb(75, 75, 75);
    float: left;
    color: rgb(75, 75, 75);
  }

  .column3 {
    width: 20%;
    float: left;
    min-width: 960px;
    background-color: rgb(75, 75, 75);
  }

  .column2 {
    width: 15%;
    height: 15%;
    float: left;
    min-width: 415px;
    min-height: 415px;
  }
  
  .column1 {
    width: 100%;
    float: left;
    min-width: 960px;
  }
  
  .grouping{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
  }
  
  .plaintext{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    min-width: 60px;
  }

  .Gametext{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
  }

  
  .listelement{
    margin: 0px 0px 0px 5px;
  }
  
  .tabledesign{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    table-layout: fixed
  }
  
  .tableelement{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    word-wrap: break-word;
  }

  .a {
    border-color: rgb(0, 0, 0);
    border-width: 2px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    word-wrap: break-word;
  }

  .a2 {
    border-color: rgb(255, 255, 255);
    border-width: 2px 2px 2px 2px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    word-wrap: break-word;
  }

  .iframe{
    float: center;
    border-style: solid;
    border-color: rgb(0, 0, 0);
  } 

<style type = "text/css">
  a:link {color: rgb(145, 202, 255);}
  a:visited {color: rgb(145, 202, 255);}
  a:hover {color: rgb(158, 141, 255)}
  a:active {color: rgb(158, 141, 255)} <style>