body {
    margin: 4% 4% 4% 4%;
}

h1 {
    color: white;
    font-size: 4vw;
}

p {
    color: white;
    font-size: 2vw;
}

.a-discord {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 22px;
    border: 2px solid #fff;
    padding: 14px 70px; 
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.5s;
}

.a-discord:hover {
    color: rgba(255, 255, 255, 0.753);
    background-color: #ffffff42;
}

.white-border {
    padding: 10px 50px 70px 50px ;
    border: 2px solid#ffffff;
    border-radius:30px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.349);
}


.parent {
    display: inline-flex;
    font-family: Arial;
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.games {
    padding: 1vw 2vw 1vw 2vw ;
    border: 2px solid#ffffff00;
    border-radius:30px;
    background-color: rgb(26, 26, 26);
    margin: 1vw 1vw 1vw 1vw;
    min-width: 23.5vw;
    max-width: 23.5vw;
    min-height: 28vw;
    max-height: 28vw;
    transition: 0.3s
}

img {
    width: 23.8vw;
    border-radius: 5px;
}

.games:hover {
    color:#fff;
    background-color: rgba(0, 0, 0, 0.39);
}


.title {
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    font-size: 2vw;
    padding: 2x 0 20px 0;
    padding: 1vw;
}

.discription {
    color: #cacaca;
    font-size: 1vw;
    font-family: calibri;
    padding: 1vw;

}

.game-link {
    color: transparent;
}

.game-header {
    color: white;
    font-size: 5vw; 
    background-color: #161616;
    border-radius: 10vw;
    padding: 2vw 2vw 2vw 2vw;
    text-align: center;
}